// -------------  //
// 用紙サイズの変数 //
// ------------- //
// A4用紙サイズ
$paper-a4-width: 210mm;
$paper-a4-height: 297mm;

// A4用紙サイズ
$paper-a5-width: 148mm;
$paper-a5-height: 210mm;

// ----------------- //
// レイアウト関連の変数 //
// ----------------- //
// テンプレートの幅
$template-width: $paper-a4-width;

// テンプレートの高さ
$template-height: $paper-a4-height;

// ページの幅
$page-width: $paper-a5-width;

// ページの高さ
$page-height: $paper-a5-height;

// ページとガイドの余白
$guide-margin: 5mm;

// ガイドのベースの長さ
$guide-base-length: 20mm;

// 外側の推奨余白（横）
$guide-outside-margin-horizontal: 3mm;

// 外側の推奨余白（縦）
  $guide-outside-margin-vertical: 3mm;

// 内側の推奨余白（横）
$guide-inside-margin-horizontal: 12mm;

// 内側の推奨余白（縦）
$guide-inside-margin-vertical: 15mm;

// --------------------- //
// フォント関連の変数 //
// --------------------- //
// ベースのフォントサイズ
$font-size-base: 9pt;

// タイトルのフォントファミリー
$font-family-title: URW DIN Cond, sans-serif;

// サブタイトルのフォントファミリー
$font-family-title-sub: URW DIN, sans-serif;

// 明朝のフォントファミリー
$font-family-serif: あおぞら明朝, serif;

// ゴシックのフォントファミリー
$font-family-sans-serif: Source Han Code JP, sans-serif;

// 本文のフォントファミリー
$font-family-body: sans-serif;

// ---------- //
// 色関連の変数 //
// ---------- //
// ガイドのボーダーカラー
$_guide-border: #ccc;
