// -------------  //
// 用紙サイズの変数 //
// ------------- //
// A4用紙サイズ
$paper-a4-width: 210mm;
$paper-a4-height: 297mm;

// A4用紙サイズ
$paper-a5-width: 148mm;
$paper-a5-height: 210mm;

// ----------------- //
// レイアウト関連の変数 //
// ----------------- //
// テンプレートの幅
$template-width: $paper-a4-width;

// テンプレートの高さ
$template-height: $paper-a4-height;

// ページの幅
$page-width: $paper-a5-width;

// ページの高さ
$page-height: $paper-a5-height;

// ページの高さ

// ページとガイドの余白
$guide-margin: 5mm;

// ガイドのベースの長さ
$guide-base-length: 20mm;

// --------------------- //
// フォントサイズ関連の変数 //
// --------------------- //
// ベースのフォントサイズ
$font-size-base: 9pt;

// ---------- //
// 色関連の変数 //
// ---------- //
// ガイドのボーダーカラー
$_guide-border: #ccc;
